.galery {
    font-family: 'Sansita Swashed', cursive;
    position: relative;
    background: url(../../../public/img/galeria/galeria-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;


    &__h2 {
        font-size: 4.5rem;
        text-align: center;
        font-family: 'Salsa', cursive;
        color: #4E4E4E;
        padding-top: 70px;

    }
    &__imagenes {
        
        align-items: center;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 90px;
        margin: 40px auto;
        margin-bottom: 40px;
        padding-bottom: 60px;

    }
    &__img{
        width: 100%;
        cursor: pointer;
        transition: 1s;
        border-radius: 20px;
        box-shadow: 10px 10px 10px  rgba(2, 135, 53, 0.315);
        &:hover{
            transform: scale(1.2);
        }
    }
    &__span {
       
        color: #4E4E4E;
    }
    &__sub {
        font-weight: 500;
        color:#FF4E50;
        margin-left: 3%;
        font-size: 3rem;
        font-family: 'Sansita Swashed', cursive;

    }
    &__button{
        font-size: 2rem;
        padding: 10px;
        color: white;
        background: none;
        border: none;
        background-color: #FF4E50;
        border-radius: 10px;
        margin-bottom: 20px;
        float: right;
        margin-right: 5%;
        
    }
}

.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .9);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    img{
        width: 90%;
        max-width: 900px;
    }

    span{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 13%;
        right: 22%;
        font-size: 50px;
        color: #ffff;
        cursor: pointer;
    }

}
