@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
.select-meal {
    
    font-family: "Nunito", sans-serif;

    background-color: #F0E2A4;
    &__elements {
   overflow: hidden;
       
        width: 400px;
        height: 250px;
    }
    &__gal {
        margin-top: 15px;
      width: 70%;
        display: grid;
        grid-template-columns: 50% 50%;
       
        margin-left: 10%;
       /*  border: 1px solid red; */
    }
    &__h2 {
        font-size: 3.5rem;
        text-align: center;
        font-family: 'Salsa', cursive;
        color: #4E4E4E;
    }
    &__h3 {
        color: #4E4E4E;
        font-family: 'Sansita Swashed', cursive;
        font-size: 3rem;
        font-weight: 500;
    }
    &__h4{
        font-family: 'Sail', cursive;
        font-size: 50px;
        color: #51861C;
        margin-top: 25px;
    }
   
    &__img {
     
     border-radius: 10px;
      width: 100%;
      height: 70%;
     
        overflow: hidden;

        
    }
    &__imgreal{
      
    }
    &__info {
       font-size: 18px;
        width: 200px;
        color: #4E4E4E;
        
    }
    &__nav {
       margin-left: 1%;
       padding: 0;
    }
    &__p {
        font-weight: 500;
    }
    &__popular-foods {
      
        display: flex;
      
    }
    &__span {
        color: #FF4E50;
        font-size: 23px;
    }
    &__spanY{
        color: #FF4E50;
    }
  }
  